<!DOCTYPE html>
<html>

<head>
  <script src="/static/js/jquery-3.7.1.js"></script>
  <script src="/static/js/utility.js"></script>
  <script src="/static/js/user_management.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <hr color="blue"> <!-- ラインを引く -->
  <h1>THIS IS THE MAIN PAGE</h1>

  <!-- 登録 -->
  <hr color="blue"> <!-- ラインを引く -->
  <form method="POST" action="regist">
    <p>title：<input type="text" name="title"></p>
    <p>body：<input type="text" name="body"></p>
    <p><input class="button" type="submit" value="登録"></p>
  </form>
  
  <!-- ログイン -->
  <div style="margin-top: 20px;">
    <button class="button" onclick="loginUser()">ログイン</button>
    <div id="login_result"></div>
  <div>

  <!-- 削除 -->
  <hr color="blue"> <!-- ラインを引く -->
  <div style="margin-top: 20px;">
    <p>user id：<input type="text" name="user_id"></p>
    <button class="button" onclick="deleteUser()">削除</button>
    <div id="delete_error"></div>
  <div>

  <!-- 一覧表示 -->
  <hr color="red"> <!-- ラインを引く -->
  <div style="margin-top: 20px;">
    <button class="button" onclick="getAllUser()">一覧表示更新</button>
    <div id="user_list"></div>
  <div>

  <hr color="red"> <!-- ラインを引く -->
</body>

</html>